<div class="footer">
    <div class="row m-0">
        <div class="col-12 col-md-2">
            <div class="footer_heading">
                <h5>FLAUNT</h5>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="footer_heading">
                <h5>READ</h5>
            </div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Offers & Discount</a></li>
                <li><a href="">Get Coupon</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-2">
            <div class="footer_heading">
                <h5>WATCH</h5>
            </div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Offers & Discount</a></li>
                <li><a href="">Get Coupon</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-2">
            <div class="footer_heading">
                <h5>SHOP</h5>
            </div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Offers & Discount</a></li>
                <li><a href="">Get Coupon</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <div class="footer_heading">
                <h5>STYLE : WEDDINGS</h5>
            </div>
            <ul>
                <li><a href="">SW EVENTS</a></li>
            </ul>
        </div>
    </div>
</div>
