<nav class=" nav">
        <a href="#" class="logo"><img src="assets/images/logo.png" class="img-fluid"></a>
        <div class="nav_ul">
            <ul class="top ml-auto">
                <li><a href="#"><i class="fa fa-search search"></i><input type="text" placeholder="Search"/></a></li>
                <li><a href="#">POST A LOOK</a></li>
                <li><a href="#">LOG IN / REGISTER</a></li>
            </ul>
        <ul class="bottom ml-auto">
            <li><a routerLink="" routerLinkActive="active1" [routerLinkActiveOptions]="{exact:true}" >FLAUNT</a></li>
            <li><a href="#">READ</a></li>
            <li><a href="#">WATCH</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">STYLE</a></li>
            <li><a href="#">CHARITY AUCTION</a></li>
        </ul>
    </div>
    <i class="fa fa-bars open"></i>
    <div class="mobile_nav">
        <ul class="bottom ml-auto">
            <li><a href="#">FLAUNT</a></li>
            <li><a href="#">READ</a></li>
            <li><a href="#">WATCH</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">STYLE</a></li>
            <li><a href="#">CHARITY AUCTION</a></li>
        </ul>
    </div>
</nav>
