<div class="slider">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="assets/images/161.jpg" alt="">
        </div>
         <div class="item">
             <img src="assets/images/161.jpg" alt="">
         </div>
         <div class="item">
             <img src="assets/images/161.jpg" alt="">
         </div>
     </div>
</div>

<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <a href="single-blog.html">
                            <h2>styleXstyle TV episode 46: Fragrance of love</h2>
                        </a>
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/images/blog/single_blog_2.png" alt="">
                        </div>

                        <div class="blog_details">
                            
                            <p>Go lunar new year shopping with Sharon Au!</p>
                           
                        </div>
                    </article>

                    <article class="blog_item">
                        <a href="single-blog.html">
                            <h2>TRENDING LOOKS</h2>
                        </a>
                        <div class="blog_item_img">
                            <div class="row m-0">
                                <div class="col-12 col-md-6">
                                    <img src="assets/images/blog_1.png" class="mb-3" alt="">
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="assets/images/blog_2.png" class="mb-3" alt="">
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="assets/images/blog_3.png" class="mb-3" alt="">
                                </div>
                                <div class="col-12 col-md-6">
                                    <img src="assets/images/blog_1.png" class="mb-3" alt="">
                                </div>
                            </div>
                        </div>

                       
                    </article>

                    <article class="blog_item">
                            <h2>LATEST STORIES</h2>

                            <div class="blog_details">
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> 26 January</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> STYLEWEDDINGS</a></li>
                                </ul>
                                <a class="d-inline-block" href="single-blog.html">
                                    <h3>Auspecious Dates To Start Work In The New Lunar Year</h3>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                
                            </div>
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/images/blog/single_blog_3.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>MORE</h3>
                                <p>LOOKS</p>
                            </a>
                        </div>
                    </article>

                    <article class="blog_item">

                        <div class="blog_details">
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> 26 January</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> STYLEWEDDINGS</a></li>
                            </ul>
                            <a class="d-inline-block" href="single-blog.html">
                                <h3>Auspecious Dates To Start Work In The New Lunar Year</h3>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.</p>
                            
                        </div>
                    <div class="blog_item_img">
                        <img class="card-img rounded-0" src="assets/images/blog/single_blog_3.png" alt="">
                        <a href="#" class="blog_item_date">
                            <h3>MORE</h3>
                            <p>LOOKS</p>
                        </a>
                    </div>
                </article>

                <article class="blog_item">
                    <div class="blog_details">
                        <ul class="blog-info-link">
                            <li><a href="#"><i class="fa fa-user"></i> 26 January</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> STYLEWEDDINGS</a></li>
                        </ul>
                        <a class="d-inline-block" href="single-blog.html">
                            <h3>Auspecious Dates To Start Work In The New Lunar Year</h3>
                        </a>
                        <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                            he earth it first without heaven in place seed it second morning saying.</p>
                        
                    </div>
                <div class="blog_item_img">
                    <img class="card-img rounded-0" src="assets/images/blog/single_blog_3.png" alt="">
                    <a href="#" class="blog_item_date">
                        <h3>MORE</h3>
                        <p>LOOKS</p>
                    </a>
                </div>
            </article>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="row m-0">
                        <div class="col-12 col-md-6 col-lg-12">
                            <img src="assets/images/blog_1.png" class="img-fluid mb-3" alt="">
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <img src="assets/images/blog_2.png" class="img-fluid mb-3" alt="">
                        </div>
                    </div>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <img src="assets/images/blog_4.png" class="img-fluid basket_ball" alt="">
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Get them now</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_9.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_10.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/images/post/post_8.png" alt="">
                                </a>
                            </li>
                  
                        </ul>
                    </aside>

                    
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h2 class="widget_title">DON'T MISS</h2>
                        <div class="row m-0">
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="media post_item">
                                    <img src="assets/images/post/post_1.png" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>From life was you fish...</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="media post_item">
                                    <img src="assets/images/post/post_2.png" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>From life was you fish...</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="media post_item">
                                    <img src="assets/images/post/post_3.png" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>From life was you fish...</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="media post_item">
                                    <img src="assets/images/post/post_4.png" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>From life was you fish...</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="single_sidebar_widget newsletter_widget">
                        <h6>Stay</h6>
                        <h4 class="widget_title">Connected</h4>
                        <div class=" social_icons">
                           <i class="fa fa-youtube-play"></i>
                           <i class="fa fa-camera"></i>
                           <i class="fa fa-twitter"></i>
                           <i class="fa fa-facebook-f"></i>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="gallery container">
    <h2 class="mb-3">Instagram</h2>
    <div class="container-wrap">
        <div class="row no-gutters">
                <div class="col-3 col-md-2">
                    <a href="assets/images/post/post_1.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_1.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram">
                            <i class="fa fa-instagram"></i>
                        </span>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_2.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_3.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_4.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_5.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_6.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                

                <div class="col-3 col-md-2">
                    <a href="assets/images/post/post_1.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_1.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_2.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_3.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_4.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_5.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>
                <div class="col-3 col-md-2">
                    <a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/post/post_6.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <div class="icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </div>
                    </div>
                    </a>
                </div>

                    </div>
    </div>
</section>